.fondEcran 
{
background-image:url("images/FondCerise.jpg");
background-repeat: no-repeat;
background-size:100%; 
}
.header 
{
  
	background-image:url("images/Cerise.jpg");
	background-repeat: no-repeat;
	background-size:100%;
	border-radius:1.0em; 
  width: 100%;
  height:100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2.5%;

  
}
.rechercheMenu
{
margin-left: auto;
margin-top: auto;

}
.formSearch
{
padding:0.35em;
padding-right:8em;
margin-left: 2em;

}
.inputSearch
{
  width:30%;
}
.buttonSearch
{
margin-left:auto;
margin-right:14em;
border: 1px solid #447314;
background: #6aa436;
background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
background: -webkit-linear-gradient(top, #8dc059, #6aa436);
background: -moz-linear-gradient(top, #8dc059, #6aa436);
background: -ms-linear-gradient(top, #8dc059, #6aa436);
background: -o-linear-gradient(top, #8dc059, #6aa436);
background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
-moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
text-shadow: #addc7e 0 1px 0;
color: #31540c;
font-family: helvetica, serif;
padding: 8.5px ;
font-size: 14px;
text-decoration: none;
vertical-align: middle;
}
.adresse
{
    font-size:2em;
    padding-top:0.2em;
    color: white;
    font-family: arial;
    text-transform: uppercase;
    margin-left: 2.4%;
}

.slogan
{
  
  font-size: 2em;
  color: white;
	
        
}
#connexion
{
color: white;
text-decoration:none;
font-size: 20px;
font-style: italic;

}
#connexion:hover
{
 color: #1f3b08;
 
}
#inscript:hover
{
 color: red;
 
}
/************************FIN EN-TETE************************/
/************************MENU************************/

.menu
{
 display: inline-block;
 text-align: center;
 font-family: arial;
}
.paragraphe
{
  width:80%;
  text-align:justify;
}
.MenuDeroulant
{
  margin:auto;
 -webkit-border-radius: 7;
 -moz-border-radius: 7;
  border-radius: 7px;
  text-shadow: 1px 1px 2px black;
  font-family: Arial;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #B6D85A;
  text-decoration: none;
  background:white;
  position:relative;
  
}
#titreParadis
{
  margin-left: auto;
  margin-right: auto;
  color: red;
  
}

nav li
{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
	
}

.men
{
font-family: Arial;
font-size: 1.2em;
text-decoration: none;
border: solid 1px;
border-radius: 0.5em;
color: white;
padding: 0.5em 0.75em 0.5em 0.75em;

}
.men:hover
{
border: solid 1px;
border-radius: 0.5em;
padding: 0.5em 0.75em 0.5em 0.75em
}
.LogoPanier
{
background-color:#B6D85A;
border-radius:10px;
padding-right:10px;
padding-left:10px;
width:2.7%;
margin-right:58%;
margin-left:39.3%;
margin-top:-3%;
}

.fondLogo
{
background-color:#B6D85A;
border-radius:15px;
padding-right:10px;
padding-left:10px;
}

.couverture
{
    width: 100%;
}

h1
{
    color: #1f3b08;
}
ul li a
{
  color: white;
	font-size: 20px;
	text-decoration: none;
}
ul li a.MenuDeroulant
{
  color:#1f3b08;
  font-size: 20px;
  text-decoration: none;
}
div
{
    margin:auto;
}

em
{
    font-style: normal;
}
h2
{
    font-style: italic;
}

.barre
{
    text-decoration: line-through;
}
h1
{
    text-align:left;
}

article
{
    text-align: justify;
}


body
{
color: black;
font-family: arial;
background-color: white;
height: 100%;
}

.annonce
{
padding-bottom:1em;
padding-top:1em;
text-align:center;
}

.tabAccueil
{

margin-left: auto;
margin-right: auto;
margin-bottom: 0.1%;
margin-top: 0.1%;
}
.texte,.texte2
{
margin-left: auto;
margin-right: auto;
width:80%;

}

.tabAccueil2
{
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 2em;
  margin-top: 2em;
  width:80%;
}
.caseMenu
{
  margin-left: auto;
  margin-right: auto;
}



.sectionAccueil
{
  width:80%;
  height:80%;
  margin-bottom: 5%;
  margin-top: 5%;
  border: 3px gray solid;
  border-radius: 10px;
  background color: gray;
  font-family: arial;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 6px 6px 0px #CCE3DB;

}
#titreCaroussel
{
  text-align: center;
  color: red;
  margin-bottom: 5%;
  margin-bottom: 5%;
}
#titreParadis
{
  margin-left: auto;
  margin-right: auto;
  color: red;

}
#titreDescription
{
  margin-left: auto;
  margin-right: auto;
  color: red;
}



/************************FIN CORP************************/
/************************ Formulaire creation d'offre*****************/
.formOffre 
{
background-color:#FAFAFA;
padding-bottom:6em;
width:80%;
height:90%;
margin-left:auto;
margin-right: auto;

 }
#titreCreationOffre
{
  text-align: center;
  color:red;
}

.creationOffre
{
font-family: arial;
width:80%;
border: 3px gray solid;
border-radius: 10px;
background color: gray;
font-family: arial;
margin-top: 5%;
padding-bottom: 3%;
margin-bottom: 5%;

}

/************************ Fin Formulaire creation d'offre*****************/
/************************ offre*****************/
.corp
{
margin-top: 5% ;
margin-bottom: 5%;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:0.5em;
border: 5px groove #1f3b08; 
width:80%;
margin-right: auto;
margin-left: auto;
}
.infoAnnonce
{
margin-right: auto;
margin-left: auto;
width:100%;
text-align: center;
}
.annonce
{

margin-top:2em ;
margin-bottom:3em ;
}
.contacts
{
position:right;
}
.info
{
font-size:1.2em;
margin-left: auto;
margin-right: auto;
margin-bottom:3em ; 
color:white;
}
.marge
{
margin-right:auto;
margin-left:auto;
padding: 0.5em;
border-radius: 0.5em;
background-color:#1f3b08 ;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset white;
}
.marge:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset #B6D85A;
}
.date_pulication
{
  margin-left:auto;
}
.image
{
margin-top: auto;
margin-bottom:auto;
margin-left: auto;
margin-right: auto; 
border-radius:5em;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset white;
}
.image:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset #B6D85A;
}
.prix
{
font-size:1.2em;
margin-left:auto; 
margin-right:auto; 
}
.date
{
font-size:1.2em;
margin-left:auto; 
margin-right:auto; 
margin-bottom:auto;
}

.date_peremption
{
margin-left:auto; 
margin-right:auto; 
padding: 0.5em;
border-radius: 0.5em;

}
.titreDetail
{
  text-align: center;
  font-size: 1.3em;
  color:red;
}
.detail
{
margin-left:auto; 
margin-right:auto;
margin-top:2em;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border: 10px inset white;
}
.detail:hover
{

-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border: 10px inset #B6D85A;
}

.description
{
  margin-top: 3em;
  margin-bottom:3em;
  margin-left:1em; 
  margin-right:1em;
  text-align: justify;
}
.coordonees
{
margin-left: auto;
margin-right:auto;
text-align: justify;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border: 10px outset white;
}
.coordonees:hover
{
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
border: 10px outset #B6D85A;
}
.contact
{
color:red;
margin-left: 2em;
}
.coordoneesTTA
{
  margin-top: 1em;
  margin-bottom:1em;
  margin-left: auto;
  margin-right:auto;
  text-align: justify;
}
/************************ Fin offre*****************/

/************************Inscription/Connexion************************/
.imageCerise
{ 
border-radius:5em;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset white;

}
.imageCerise:hover
{ 
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset #B6D85A;
}
.formLog 
{
 background-color:#FAFAFA;
 height:100%;
 
 }

 .formulaire
{
	border: 3px solid #ffffff;
   background: #fafafa;
   -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
}
 legend 
 {
 margin-left: 10px;
 color:#DF3F3F;
 font-weight:bold
 }
.connexion
{
background-color:#FAFAFA;
padding:100px;
width:100%;
display:block;
margin-left:auto;
margin-right:auto;

border: 3px solid #ffffff;
background: #fafafa;
-webkit-border-radius: 19px;
-moz-border-radius: 19px;
border-radius: 19px;
}

label
{
margin-top:10px;
display:block;

}
.texteI
{
margin-right:auto;
margin-left:auto;
width: 50%;
 
}
#myForm
{
  
  margin-left: 8em;
  width: 120%;

}
.formInscription
{
width: 100%;  
}
.repondre
{
margin-right:auto;
margin-left:auto;
text-align: center;
}
.tabInscription
{
margin-right:auto;
margin-left:auto;
}
.form_col {
display: inline-block;
padding: 3px 0px;
width:100%;
min-height: 1px;

}

input {
padding: 2px;
border: 1px solid #CCC;
border-radius: 2px;
outline: none; /* Retire les bordures appliquées par certains navigateurs (Chrome notamment) lors du focus des éléments <input> */
}

input:focus {
border-color: rgba(82, 168, 236, 0.75);
-moz-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
-webkit-box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
box-shadow: 0 0 8px rgba(82, 168, 236, 0.5);
}

.correct {
border-color: rgba(68, 191, 68, 0.75);
}

.correct:focus {
border-color: rgba(68, 191, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
box-shadow: 0 0 8px rgba(68, 191, 68, 0.5);
}

.incorrect {
border-color: rgba(191, 68, 68, 0.75);
}

.incorrect:focus {
border-color: rgba(191, 68, 68, 0.75);
-moz-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
-webkit-box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
box-shadow: 0 0 8px rgba(191, 68, 68, 0.5);
}

.tooltip {
display: inline-block;
margin-left: 20px;
padding: 2px 4px;
border: 1px solid #1f3b08;
background-color: #B6D85A;
border-radius: 4px;
color:#1f3b08;
}
/************************FIN Inscription/Connexion************************/


/************************Pied-de-page************************/
.footers
{


border-radius:28px;
background-image:url("images/footers.JPG");
background-repeat: no-repeat;
background-size:100%;
padding-bottom: 0.75%;
width: 100%;
height: 100%;


}
.PiedDePage
{
width: 100%;
color: white;

     
}

.paragraphePied
{
width:60%;
color:white;
}
.tablefooter
{


}

.case
{
width:80%;
text-align: left;

}
/************************Essai1************************/
#menu-deroulant, #menu-deroulant ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu-deroulant li {
/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant .MenuDeroulant {
    text-decoration: none;
    display: block;
	
}
#menu-deroulant ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
	
}
#menu-deroulant li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;

	
}
#menu-deroulant ul
{
position:absolute;

}
/************************Panier************************/
.panier
{
margin-top: 5em;
margin-bottom: 3em;
height: 100%;
width:80%;
padding-left: -3em;
border-left: 0.2em solid #1f3b08; 
border-bottom: 0.2em solid #1f3b08; 
}
.description
{
text-align:justify;
}
.inforCompte
{
margin-right:3.9em; 
 
}
.inforDate
{
margin-top:5em; 
margin-bottom:1em; 
 
}
.plusloin1
{
margin-left:10em; 

}
.plusloin2
{
margin-left:10em;
margin-top: 5em;
float:left;
width:30em;

}
.button
{
float:right;  
margin-right: 5em;
}
.title
{
  text-align: center;
}

.right
{
  float:left;
}
.pack
{
margin-bottom:3em;

}
/************************ Barre de recherche/ les offres ******************/
/************************ Barre de recherche/ les offres ******************/
.tableRecherche
{
margin-right:auto; 
margin-left:1%; 

}
#divGlobal
{

width:100%;
margin-bottom: 10%;
margin-top: 5%;
border: 2px;
font-family: Arial;
}
#MenuCentre
{
width:100%;
margin-right: 50%;
}
#divOffre
{
  width:80%;
  padding-left: 3em;
  border-radius: 10px;
  border: 1px white solid;
  box-shadow: 6px 6px 0px #CCE3DB;

}
.image_offre
{
  padding-top: 10px;
  
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

.description_offre
{
  width:60%;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-align: justify;

}

#divGlobal 
{

width: 50% ; 

font-family: Arial;
}
#rechercheOffre
{
margin-left: 0.2%; 
width: 100% ; 

}

.liste-categorie
{
  color:red;
}
#formSearch
{
  width: 100%;
}
.formulaire-recherche
{
  background-color: white;
  padding: 0.75em;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
}




#recherche-titre
{
  color: #DF3F3F;
}

.titre_offre
{
  color: red ;
}

#divGlobal
{ 
  margin: 5px;
  border: 1px white solid;
  border-radius: 10px;
  padding-bottom:1em;
  margin-bottom: 2em;
  box-shadow: 6px 6px 0px #CCE3DB;
  margin-left:auto;
  margin-right: auto;
}

#rechercheOffre
{
display: inline-block;
width: 60% ; 
font-family: Arial;
margin-left:auto;
margin-right: auto;

}

/************************formulaire-de-connexion************************/
.form-container {
   border: 1px solid #000000;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'arial',Helvetica,sans-serif;
   padding:0.3em;
   width:100%;
   text-align:left;
   background-color:#FAFAFA;
   }
#Connex
{
text-align: center;

margin-top: -8.5%;
width: 28%;
margin-left: auto;
margin-right: auto; 
}

#Connex ul
{

	position: absolute;
	left: -999em;
	
}
#Connex li:hover ul
{
	left: auto;
  z-index: 1;
}
.section
{
	margin-left: auto;
  margin-right: auto;
  margin-left:65%; 
  margin-top: -8%;
}

.form-field {
   border: 1px solid #000000;
   background: #fafafa;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #000000;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:5px;
   width:100px;
   }
.form-title
{
	color:red;

}
.submit-button2{
  
  margin-left: auto;
  margin-right: auto;
}

.submit-container {
   margin:8px 0;
   
   }
.submit-button, .submit-button2 {
   border: 1px solid #447314;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #31540c;
   font-family: helvetica, serif;
   padding: 8.5px ;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   


 /*CSS pour la page de profil*/
.table 
{
margin-left:auto;
margin-right:auto;
}

.titles 
{
text-align: center;
}
.photoMembre
{
margin-bottom:3em;
margin-left:auto;
margin-right:auto;
border-radius:5em;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset white;
}
.photoMembre:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset #B6D85A;
}
.localisation
{
margin-left:auto;
margin-right:auto;
margin-bottom:3em;  
border-radius:5em;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset white;
}
.localisation:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:5em;
border: 5px inset #B6D85A;
}

.modif
{
  text-decoration: none;
  color:white;
  width: 10%;
}
.infor
{
font-size:1.2em;
margin-bottom:3em ; 
color:white;
width: 100%;
height: 50%.

}
.marg
{
margin-right: 3em;
}
.marger
{
margin-left:auto;
margin-right:auto;
padding: 0.5em;
border-radius: 0.5em;
background-color:#1f3b08 ;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset white;
color:white;
}
.marger-produit
{
margin-right: auto;
margin-left: auto;
padding: 0.5em;
border-radius: 0.5em;
background-color:#663300 ;
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset white;

}
.marger-produit:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset #B6D85A;
}
.marger:hover
{
-moz-border-radius:2.5px;
-webkit-border-radius:2.5px;
border-radius:3em;
border: 5px inset #B6D85A;
}
.mini
{

margin-left:auto;
margin-right:auto;
border-radius:2em;

}

.information
{
margin-left:auto;
margin-right:auto; 
}
.Avis
{
margin-left:auto;
margin-right:auto;; 
width: 100%; 
 
}
.MoyenneAvis
{
margin-left:auto;
margin-right:auto;
margin-top:auto;
margin-bottom:auto; 
text-align:right;
}
.nom
{
background-image:url("images/pommeVerte.jpg");
background-repeat: no-repeat;
width:100%;
background-size:100%;
border-radius: 3em;

}
.logoPagedeprofil
{
  float:right;
  margin:auto;
  width:10%;
}
#adresse 
{
margin-right:auto;
margin-left:auto;
text-align: left;
}
.geotext
{
width: 100%;
margin-bottom: 1em;
margin-left:auto;
margin-right:auto;
}


/*Fin de CSS page de profil*/

#divForum
{
  width: 80%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border: 1px #CCE3DB solid;
  border-radius: 10px;
  padding-bottom:1em;
  margin-bottom: 2em;
  /*box-shadow: 6px 6px 0px #CCE3DB;*/
  box-shadow: 6px 6px 0px #CED4C9;
  font-family: Arial;
  background-color: #B6D85A;
  color:white;
}
#titre_forum,#titre_msg_forum
{
  text-align: center;
  font-family: Arial;
  color:red;
}
#topicForum
{
  padding-left: 2em;
  font-family: Arial;
  text-align: left;
  color: red;
}
#titre_topic
{
  font-family: Arial;
  text-align: left;
  color: red;
}
#titreMsgForum
{
  text-align: center;
  color: red;
}
.Topic
{
  width:60%;
  float: left;
  padding-top: 1em;
}
#dateDerniersMsg
{
  width:40%;
}
#divForumGlobal
{
  width:80%;
  border: 3px black solid;
  background color: gray;
  font-family: arial;
}

#divInfoMsg
{
  width:15%;
  padding-left: 1em;
  float: left;
  margin-top: 3em;
  border: 1px gray dotted;
  margin-left: 10px;
}
.Pseudo
{
  font-weight: bold;
}
.topicMsg
{
  color: red;
}
#divTextDroite
{
  width: 80%;
  float: left;
  border: 1px gray dotted;
  padding-left: 1em;
}
#dateDuPost
{
   width: 80%;
  float: left;
  padding-left: 1em;
  border-top: 1px gray dotted;
  border-right: 1px gray dotted;
  
}
#divTextDroite
{
  margin-bottom: 2em; 
}
#dateDuPost
{
  margin-top: 3em;
  padding-bottom: 1em;
}
#divGlobalPost
{
  width:100%;
  height: 200px;
}
#textareaForum
{
  width: 50%;
  height:150px;
  margin-left:auto;
  margin-right: auto;
}
.divFormulaireMessage
{
  width: 90%;
  border: 1px gray dotted;

}

.formMessageForum,#titreMessageForum
{
  text-align: center;
  color:red;
}
.formMessageForum
{

}
.submit-button
{
  position: left;
}
/*-----------------Contact--------------*/

section h1{
  font-family:arial;
  text-transform: uppercase;
  color : #1f3b08;
  font-size : 1.5em;
  text-align:center;

}

section p{
  color: #1f3b08;
  padding:10px;
}



.telephone
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    height:100%;
    text-align: center;
    margin-left:1.75%;
    margin-top: 1.2%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-radius:10px;
    border:1px white solid;
    box-shadow:6px 6px 0px #CCE3DB ;
}

.forum
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    height:90%;
    text-align: center;
    margin-top: 1.2%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-radius:10px;
    border:1px white solid;
    box-shadow:6px 6px 0px #CCE3DB ;

}
  

.mail
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    height:100%;
    text-align: center;
    margin-top: 1.2%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    border-radius:10px;
    border:1px white solid;
    box-shadow:6px 6px 0px #CCE3DB ;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
    height : 100px;

}

.titregeneral{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height:100%;
  width:50%;
  margin-top:1.2%;
  border-radius:10px;
  border:1px white solid;
  box-shadow:6px 6px 0px #CCE3DB ;
}
/*----------FAQ---------*/
.question
{
margin-left:20%;
margin-right: auto; 
}
.masuer_afficher
{
  text-decoration: none;
  color:white;
}