
/***********************EN-TETE********************/
.header
{
     /*background-color: #cdbbbb;*/
     /*background-color: #16a085; vert turquoise*/
     /*background-color: #3e4440; gris foncé*/
     background-color: #333b33;
     /*border: 3px black solid;*/
     padding-bottom: 0.9em;
     padding-top: 0.5em;
}
	

.adresse
{
    font-size: 50px;
    top:30px;
    color: white;
    font-family: arial;
    text-align:center;
    margin-top: 2em;
    text-transform: uppercase;
}

.slogan
{
    font-size: 40px;
    color: white;
    text-align: center;
    margin-bottom: 2em;    
}
/************************FIN EN-TETE************************/
/************************MENU************************/
nav
{
    background-color: #16a085;
    font-size: 15px;
    /*border:3px black solid;*/
    width:100%;
}
.menu
{
 background-color: #16a085;
 display: inline-block;
 text-align: center;
 padding:20px;
 font-family: helvetica;
 
}

nav li
{
    display: inline-block;
    margin-right: 100px;
    
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
	
}

.logo
{
   float: left;
   padding
}

a:hover
{
    color: #6f7470;
}

.couverture
{
    width: 100%;

}

h1
{
    color: green;
}
ul li a
{
    color: white;
}
div
{
    margin:auto;
}

/*h1
{
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: blink;
}*/
em
{
    font-style: normal;
}
h2
{
    font-style: italic;
}

.barre
{
    text-decoration: line-through;
}
.ligne_dessus
{
    text-decoration: overline;
}
h1
{
    text-align:left;
}

p
{
    text-align: justify;
    color: rgb(0,0,0);
}
article
{
    text-align: justify;
}

aside
{
    text-align: center;
}
.imageflottante
{
    float: left;
}


.1
{
	text-align: right;
}



body
{
    color: black;
    background-color: #F5F5DC;
	width: 100%;
}

.Menu:hover
{
    color: green;
    border-bottom: 3px solid green;
}
.bloc_page
{
    width: 100px;
    margin: auto;
}


/************************FIN CORP************************/
/************************Inscription/Connexion************************/

form 
{
 background-color:#FAFAFA;
 padding:100px;
 width:350px;
 margin-left:50px;
 }
 legend 
 {
 margin-left: 100px;
 color:#DF3F3F;
 font-weight:bold
 
 }
.connexion
{
background-color:#FAFAFA;
padding:100px;
width:300px;
display:block;
margin-left:100px;
margin-bottom:385px;
}
 
label
{
margin-top:10px;
display:block;

}
input
{
margin-right:200px;
text-align: justify;
}
/************************FIN Inscription/Connexion************************/
/************************Carroussel************************/
.carrousel ul 
{
    margin-left: 100px;
}
.carrousel
{
position:relative;
height:250px;
width:500px;

}
.controls {
  -webkit-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #edf7ed;
  font-size: 20px;
  background: #333b33;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  
}
.controls:hover {
  background: #16a085;
  text-decoration: none;
}
.image1
{
 max-width:100%;
}
.image2
{
margin-left:400px;
 max-width:100%;
}
.image3
{
 margin-left:800px;
 position:right;
 max-width:100%;
}
/************************Fin du Carrousel************************/
/************************Pied-de-page************************/
.footers
{
background-color: #333b33;
text-align: center;
}
.Copyright
{
color:white;
text-align: center;
}